/* BEGIN CODE HERE */

/* HEADER CSS */

.container-fluid{
    height: 150px;
    /* Η γραμμή αυτή εισάγει την γκρι γραμμή που διαχωρίζει header-footer με το υπολοιπο page */
    /* Το ιδιο θέλουμε και για το products καρβουνης */
    border-bottom: 1px solid lightgray;
} 

.d-flex{
    margin-right: 50px;
}

.logo{
    margin-left:50px;
}

/* END HEADER CSS */


/* FRAME 2 CSS */


/* Και τα 3 frames μαζί με το navbar έβαλα να έχουν ίδια margin πάνω-κάτω 
   μεταξύ τους βάσει του logo margin που υπολογίσαμε */
.container-md{
    margin-top: 46px;
    margin-bottom: 46px;
}

/* Κλάση για το 4ο column με τα lorem ipsum  */
.bottom{
    position: relative;
    height:25px;
    top:175px;
    right:0px;
}

/* Για το lorem ipsum dolor του 2ου frame 4η στήλη-2η γραμμή */
.center{
    position: relative;
    height:25px;
    top:90px;
}

/* END FRAME 2 CSS */

/* FRAME 3 CSS  */


.iframe1{
    max-width: 1200px;    
}
/* END FRAME 3 CSS */

/* FOOTER CSS */
.card-body{
    height: 100px;
    text-align: center;
}
/* END FOOTER CSS */

/* END CODE HERE */